input.incorrect {
  color: #eb3223;
}

.plyr__poster {
  background-size: cover;
}

.placeholder {
  aspect-ratio: 16/9;
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

iframe.bili-iframe {
  min-height: 360px;
  min-width: 480px;
  margin: auto;
  display: block;
}

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  overflow: hidden;
}

/* patch poster not filling container*/
.plyr__video-wrapper {
  height: 100%;
}

/** patch slider-thumb */
.plyr--full-ui input[type="range"]::-webkit-slider-thumb {
  top: 0px;
}

.media-view-player {
  height: 100%;
  & > .plyr.plyr--video {
    height: inherit;
  }
}
