.plyr-controls-settings input[type="range"]::-webkit-slider-thumb {
  cursor: inherit;
}

.plyr-controls-settings.plyr__controls {
  justify-content: center;
  flex-wrap: wrap;
}

.plyr-controls-settings .plyr__control {
  margin-bottom: 10px;
}

.plyr-progress-setting {
  margin-bottom: 10px;
}

.plyr-controls-settings button.checked {
  border: var(--interactive-accent) solid;
}

