/* hide recommended video in youtube */
.alx-hide-ytb-recomm .plyr--youtube:not(.yt-controls) {
  iframe {
    transition: 0.2s filter linear;
  }

  &.plyr--paused {
    iframe {
      filter: blur(1.5rem);
    }
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
}

.yt-controls .plyr__poster {
  display: none;
}
