/* global div.external-video should be controlled in settings */
div.external-video,
div.local-media {
  min-height: 360px;
  min-width: 400px;
  height: 40vh;
  margin: auto;
}

.plyr__caption::selection {
  background-color: gray;
}

div.external-video > iframe.external-video,
div.external-video > div.thumbnail,
.plyr,
.plyr__video-wrapper,
.plyr audio,
.plyr iframe,
.plyr video {
  min-height: inherit;
  min-width: inherit;
  max-height: inherit;
  max-width: inherit;
  width: 100%;
  height: 100%;
}

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  overflow: hidden;
}

div.thumbnail {
  background-repeat: no-repeat;
  background-size: cover;
}

/* hide recommended video in youtube */
.plyr--youtube iframe {
  transition: 0.2s filter linear;
}

.plyr--youtube.plyr--paused iframe {
  filter: blur(1.5rem);
}

/** patch slider-thumb in plyr.css (margin-top: -4px -> 4px) */
.plyr--full-ui input[type="range"]::-webkit-slider-thumb {
  margin-top: calc(
    var(--plyr-range-track-height, 5px) / 2 * -1 -
      var(--plyr-range-thumb-height, 13px) / 2 * -1
  ) !important;
}
