.markdown-preview-view .plyr.plyr--video {
  margin: auto;
  min-width: var(--plyr-min-width);
  width: min(100%, var(--max-ratio-width));
}

input.incorrect {
  color: #eb3223;
}

.markdown-preview-view .plyr.plyr--video video {
  width: var(--max-ratio-width);
  margin: auto;
}

.plyr__poster {
  background-size: cover;
}

.placeholder {
  aspect-ratio: 16/9;
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

iframe.bili-iframe {
  min-height: 360px;
  min-width: 480px;
  margin: auto;
  display: block;
}

.plyr__caption::selection {
  background-color: gray;
}
.plyr__caption {
  user-select: text;
}

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  overflow: hidden;
}

/* patch poster not filling container*/
.plyr__video-wrapper {
  height: 100%;
}

/* hide recommended video in youtube */
.alx-hide-ytb-recomm .plyr--youtube:not(.yt-controls) iframe {
  transition: 0.2s filter linear;
}

.alx-hide-ytb-recomm .plyr--youtube.plyr--paused:not(.yt-controls) iframe {
  filter: blur(1.5rem);
}

.alx-hide-ytb-recomm .plyr--youtube.plyr--paused:not(.yt-controls)::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.yt-controls .plyr__poster {
  display: none;
}

/** patch slider-thumb */
.plyr--full-ui input[type="range"]::-webkit-slider-thumb {
  top: 0px;
}

.plyr-controls-settings input[type="range"]::-webkit-slider-thumb {
  cursor: inherit;
}

.plyr-controls-settings.plyr__controls {
  justify-content: center;
  flex-wrap: wrap;
}

.plyr-controls-settings .plyr__control {
  margin-bottom: 10px;
}

.plyr-progress-setting {
  margin-bottom: 10px;
}

.plyr-controls-settings button.checked {
  border: var(--interactive-accent) solid;
}
