/* global div.external-video should be controlled in settings */
.plyr--video,
div.placeholder {
  min-height: 16em;
  min-width: 450px;
  max-width: 100%;
  height: 40vh;
  margin: auto;
}

iframe.bili-iframe {
  min-height: 360px;
  min-width: 480px;
  margin: auto;
  display: block;
}

.plyr__caption::selection {
  background-color: gray;
}

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  overflow: hidden;
}

div.placeholder {
  background-repeat: no-repeat;
  background-size: cover;
}

/* hide recommended video in youtube */
.plyr--youtube:not(.yt-controls) iframe {
  transition: 0.2s filter linear;
}

.plyr--youtube.plyr--paused:not(.yt-controls) iframe {
  filter: blur(1.5rem);
}

.plyr--youtube.plyr--paused:not(.yt-controls)::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.yt-controls .plyr__poster {
  display: none;
}

/** patch slider-thumb */
.plyr--full-ui input[type="range"]::-webkit-slider-thumb {
  top: 0px;
}
