/* global div.external-video should be controlled in settings */
div.external-video,
div.local-media {
  min-height: 16em;
  min-width: 450px;
  max-width: 100%;
  height: 40vh;
  margin: auto;
}

.plyr__caption::selection {
  background-color: gray;
}

div.external-video > iframe.external-video,
div.external-video > div.thumbnail,
.plyr,
.plyr__video-wrapper,
.plyr audio,
.plyr iframe,
.plyr video {
  min-height: inherit;
  min-width: inherit;
  max-height: inherit;
  max-width: inherit;
  width: 100%;
  height: 100%;
}

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  overflow: hidden;
}

div.thumbnail {
  background-repeat: no-repeat;
  background-size: cover;
}

/* hide recommended video in youtube */
.external-video:not(.yt-controls) .plyr--youtube iframe {
  transition: 0.2s filter linear;
}

.external-video:not(.yt-controls) .plyr--youtube.plyr--paused iframe {
  filter: blur(1.5rem);
}

.external-video:not(.yt-controls) .plyr--youtube.plyr--paused::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.external-video.yt-controls .plyr__poster {
  display: none;
}

/** patch slider-thumb */
.plyr--full-ui input[type="range"]::-webkit-slider-thumb {
  top: 0px;
}
